*{
    box-sizing: border-box;
}

/* **SMALL SIZE** */

/* Logo and Navigation Bar */
.navbar-logo{
    width:90px;
    max-width:90px;;
}

.mainmenu{
    background-color:rgba(42, 42, 42, 0.32)
}

#mymenu{
    color:rgba(255, 255, 255, 0.642);
    border-bottom:solid;
    border-color: rgba(255, 255, 255, 0.642);
}

.navbar-toggler{
    margin-right:40px;
}

.navbar-logo{
    margin-left:15px;
}

/* site aesthetics */
body{
    background-image:linear-gradient(to top, rgb(22, 25, 75), rgb(5, 5, 5));
    height: auto;
}

main{
    margin-top:50px;
    text-align: center;
}

.h1{
    font-size:70px;
}

.view{
    visibility:hidden;
}

.back2top{
    display:none;
}


.menuclick{
    font-size:70px;
    font-weight:500;
    margin-top:315px;
    margin-right:33px;
    align-items:flex-end;
}

.x{
    font-size:22px;
    margin-top:25px;
    margin-left:250px;
}

/* contact form */
.myform{
    max-width:800px;
    width:400px;
    margin-left:auto;
    margin-right:auto;
    margin-top:40px;
    margin-bottom:90px;
    border: solid;
    border-radius:3%;
    border-color:rgba(255, 255, 255, 0.154);
    border-width:1px;
    background-color: rgba(0, 0, 0, 0.383);
    padding-top:50px;
    padding-bottom:50px;
    padding-left:30px;
    padding-right:30px;
}

h3 {
    color: rgba(255, 255, 255, 0.684);
}

.newsletter{
    color: rgba(255, 255, 255, 0.281);
    text-align: center;
    margin-top:30px;
}

.checkbox{
    background-color:black;
}

.button{
    margin-top:50px;
    list-style-type: none;  
    margin-left:20%;
    transition:all .5s;
}

.button:hover{
    transform: scale(1.05);
    transition-duration: .2s;
}

ul li{
    list-style-type: none;
}

.sendbutton{
    text-decoration: none;
    color: white;
    font-size:19px;
    border:solid;
    border-radius:80px;
    border-color: white;
    padding-top:18px;
    padding-bottom:18px;
    padding-left:45px;
    padding-right:45px;
    background-color: black;
}

/* footer */
.logofooter{
    width: 90px;
    max-width:90px;
    padding-bottom:7px;
    padding-top:30px;
}

footer{
    padding-bottom:30px;
}

@media screen and (min-width:800px) {

    .myform{
        max-width:800px;
        width:800px;
        margin-left:auto;
        margin-right:auto;
        margin-top:40px;
        margin-bottom:90px;
        border: solid;
        border-radius:3%;
        border-color:rgba(255, 255, 255, 0.154);
        border-width:1px;
        background-color: rgba(0, 0, 0, 0.383);
        padding-top:50px;
        padding-bottom:50px;
        padding-left:30px;
        padding-right:30px;
    }

/* news letter and send button */
    .newsletter{
        color: rgba(255, 255, 255, 0.281);
        text-align: center;
        margin-top:30px;
    }
    
    .checkbox{
        background-color:black;
    }
    
    .button{
        margin-top:50px;
        list-style-type: none;  
        margin-left:35%;
        transition:none;
    }
    
    .button:hover{
        transform: none;
        border-color: black;
    }

    ul li{
        list-style-type: none;
    }
    
    .sendbutton{
        text-decoration: none;
        color: white;
        font-size:19px;
        border:solid;
        border-radius:80px;
        border-color: white;
        padding-top:18px;
        padding-bottom:18px;
        padding-left:45px;
        padding-right:45px;
        background-color: black;
    }
    

    /* footer */
    .logofooter{
        width:150px;
        max-width:150px;
        padding-bottom:7px;
        padding-top:30px;
    }
    
    footer{
        margin-top:35px;
        padding-bottom:20px;
    }
}
